.pack_up_list{
    padding: 10px;
    width:100%;
}
#package_list_table{
	margin-left:100px;
}
#package_list_table tr{
    text-align: center;
}
textarea{
    resize:none;
}
#package_uploadDIV{
	margin-left:100px;
}
#itemList{
	text-align:center;
}